<div class="sales-container position-relative">
    <div class="d-flex justify-content-center align-items-center">
        <h2 class="products mx-5">
            Clothes, Gear, Bikes and Sports Equipments On Sale Now.
        </h2>
    </div>
    <div class="d-flex justify-content-center">
        <button type="button" class="btn btn-success ms-1 mb-5 mt-5 ">SHOP NOW</button>
    </div>
</div>
<!-- newely arravials -->
<div class="d-flex justify-content-around mt-2 new-arravials">
    <div>
        <button type="button" class="btn btn-dark black-btns">NWE ARRIVALS</button>
        <h6>
            up to 50% off
        </h6>
    </div>
    <div>
        <button type="button" class="btn btn-dark black-btns">CRUISER BIKES</button>
        <h6>
            up to 50% off
        </h6>
    </div>
    <div>
        <button type="button" class="btn btn-dark black-btns">ROAD BIKES</button>
        <h6>
            up to 50% off
        </h6>
    </div>
    <div>
        <button type="button" class="btn btn-dark black-btns">BEACH BIKES</button>
        <h6>
            up to 50% off
        </h6>
    </div>
    <div>
        <button type="button" class="btn btn-dark black-btns">RACE BIKES</button>
        <h6>
            up to 50% off
        </h6>
    </div>
</div>