<nav class="container-fluid navbar-dark bg-dark">
    <div class="row">
        <div class="col-12 col-md-1">
            <img src="/assets/H.jpeg" alt="H" class="logo-img">
            <span class="navbar-toggler-icon float-end d-md-none"></span>
        </div>
        <div class="col-5 d-md-flex d-none d-md-block" style="margin-left: -4rem;">
            <ul class="d-flex">
                <li class="nav-item">
                    <a class="nav-link" href="#">NEW ARRIVALS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">COLLECTIONS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">CLOTHS</a>
                </li>
            </ul>
        </div>
        <div class="col-6 d-none d-md-block" style="margin-left: 4rem;">
            <form class="d-flex">
                <span class="cart-numbers">1</span>
                <i class="bi bi-cart3 cart-icon"></i>
                <button type="button" class="btn btn-link">SignIn</button>
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>