<div class="container-fluid bg-dark">
    <div class="row mx-3">
        <div class="col-12 col-sm-5 ms-4 d-flex align-items-center text-center">
            <h1>
                It's time for our Summer BIKE sales
                <button type="button" class="btn btn-success ms-1">WATCH VIDEO</button>
            </h1>
        </div>
        <div class="col-12 col-sm-6 position-relative">
            <img src="/assets/Machovka_bike.svg" class="h-75 w-100 ms-sm-5 mt-4" alt="cycle">
            <img class="position-absolute discount-img w-25 h-sm-50" src="/assets/discount.jpg" alt="discount">
        </div>
    </div>
</div>